# Custom
*.pyc
*.swp
__pycache__
*.idea
*.DS_Store
posterior_samples
*.h5
outdir*
out*
*.png
*.json
*.gif
.ipynb_checkpoints
test_cache_dir
test_events_dir
test_website
*.html
*.ipynb
.nrsur_catalog_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*cache_dir
tmp_test
token.json
creds.json
client_secrets.json
client_secrets_v1.json
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
venv
.nrsur_catalog_cache